body{
    background-color: black;
    color: white;
}
.columbia{
    height: 75px;
    width: 100px;
}
.yellow{
    height: 50%;
    background-color: yellow;
}

.blue {
    height: 25%;
    background-color: blue;
}

.red {
    height: 25%;
    background-color: red;
}

.sweden {
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

.blue1{
    height: 40%;
    width: 35%;
    top: 0;
    background-color: blue;
    /* display: inline-block; */
}

.blue2{
    height: 40%;
    width: 55%;
    right: 0;
    top: 0;
    background-color: blue;
    /* display: inline-block; */
    position: absolute;
}
.blue3{
    position: absolute;
    height: 40%;
    width: 35%;
    bottom: 0;
    background-color: blue;

}
.blue4{
    position: absolute;
    height: 40%;
    width: 55%;
    right: 0;
    bottom: 0;
    background-color: blue;;
}

.switzerland {
    position: relative;
    height: 30vw;
    width: 30vw;
    background-color: red;
}

.white1 {
    position: absolute;
    height: 75%;
    width: 25%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.white2 {
    position: absolute;
    height: 25%;
    width: 75%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flag {
    margin:1rem;
}
.sweden2{
    position: relative;
    height: 30vw;
    width:50vw;
    background-color: blue;
}
.yellow1{
    position: absolute;
    width:50vw;
    height: 5vw;
    background-color: yellow;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.yellow2{
    position: absolute;
    width: 5vw;
    height: 30vw;
    background-color: yellow;
    left:35%;
}