body{
    background-color: black;
    color: white;
}
.columbia{
    height: 75px;
    width: 100px;
}
.yellow{
    height: 50%;
    background-color: yellow;
}

.blue {
    height: 25%;
    background-color: blue;
}

.red {
    height: 25%;
    background-color: red;
}

.sweden {
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: relative;
}

.blue1{
    height: 40%;
    width: 35%;
    top: 0;
    background-color: blue;
    /* display: inline-block; */
}

.blue2{
    height: 40%;
    width: 55%;
    right: 0;
    top: 0;
    background-color: blue;
    /* display: inline-block; */
    position: absolute;
}
.blue3{
    position: absolute;
    height: 40%;
    width: 35%;
    bottom: 0;
    background-color: blue;

}
.blue4{
    position: absolute;
    height: 40%;
    width: 55%;
    right: 0;
    bottom: 0;
    background-color: blue;;
}

.switzerland {
    position: relative;
    height: 30vw;
    width: 30vw;
    background-color: red;
}

.switzerland .white1 {
    position: absolute;
    height: 75%;
    width: 25%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.switzerland .white2 {
    position: absolute;
    height: 25%;
    width: 75%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flag {
    margin:1rem;
}
.sweden2{
    position: relative;
    height: 30vw;
    width:50vw;
    background-color: blue;
}
.yellow1{
    position: absolute;
    width:50vw;
    height: 5vw;
    background-color: yellow;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.yellow2{
    position: absolute;
    width: 5vw;
    height: 30vw;
    background-color: yellow;
    left: 35%;
}

.tonga {
    position: relative;
    width: 60vw;
    height: 50vh;
    background-color: red;;
}

.tonga .white1 {
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    height: 50%;
    width: 50%;
    z-index: 100;
}

.tonga .red1 {
    position: absolute;
    height: 15%;
    width: 25%;
    left: 12.5%;
    top: 16%;
    background-color: red;
    z-index: 100;
}

.tonga .red2 {
    position: absolute;
    height: 35%;
    width: 10%;
    left: 20%;
    top: 7%;
    background-color: red;
    z-index: 100;
}
.japan {
    position: relative;
    width: 50vw;
    height: 30vw;
    background-color: white;
}

.japan .circleRed {
    position: absolute;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    z-index: 100;
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%,-50%);
}

.ireland {
    position: relative;
    display: flex;
    width: 30vw;
    height: 18vw;
    background-color: white;
}

.greenIreland {
    position: absolute;
    width: 33%;
    height: 100%;
    z-index: 100;
    background-color: green;
    justify-content: space-evenly;
}

.orangeIreland {
    position: absolute;
    width: 33%;
    height: 100%;
    z-index: 100;
    right: 0;
    background-color: orange;
    justify-content: space-evenly;
}